# Ignore specified analysis folders
Leila analysis/
Linqing analysis/
Marziyeh analysis/
MS1 final analysis/
Tamara analysis/
Qiaoling analysis/
Nora analysis/
James analysis/
Yichen analysis/
code backups/


# Ignore specific file types globally
*.RData
*.ai
*.svg
*.abf
.DS_store
*.Rapp.history
*.command
*.pdf

# Unignore .svg files in images/ but still ignore elsewhere
!images/**/*.svg
!images/**/*.png

# Unignore .abf files in the examples folder
!examples/**/*.abf

# Ignore everything in the root directory 'Rfits'
/Rfits/

# Ignore all .R files, but allow specific ones
*.R
!/nNLS functions.R
!/NLS functions.R


